:root{
  --colour1: #BFC6C4;
  --colour2: #E8E2D8;
  --colour3: #6F8F72;
  --colour4: #BA8C63;
}

body{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container{
  display:grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;

}

.libraryContainer{
  padding: 20px;
  background-color: var(--colour1);
}

.libraryContainer h1{
  margin: 0 0 10px 0;
}

.bookContainer{
  display: grid;
  grid-template-columns: repeat(7, minmax(150px, 1fr));
  gap: 20px;
  align-items: start;
}

.card{
  display: flex;
  padding: 1rem;
  width: 100%;
  aspect-ratio: 1/1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  color: white;
  font-weight: 700;
  background-color: var(--colour4);
  box-shadow: 3px 3px 3px darkgray;
}

.card * {
  text-align: center;
}

.card .title{
  font-weight: 700;
  font-size: 1.2rem;
}

.card .author{
  font-style: italic;
  font-size: 0.8rem;
}

.card .pages, .card .read{
  font-size: 0.8rem;
}

.card .pages{
  margin: 1rem 0 0 0;
}

.card .read{
  margin: 0 0 1rem 0;
  justify-content: center;
}

.card .read span{
  display: inline-block;
  width: 5rem;
}

.card .read span:hover{
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

.card .id{
  font-size: 0.6rem;
  margin: 0;
}

.card .deleteButton{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 1px solid rgb(100, 100, 100);
  box-shadow: 1px 1px 1px rgb(100, 100, 100);
  aspect-ratio: 1/1;
  background-color: var(--colour2);
  color: darkgray;
}

.card .deleteButton:hover{
  background-color: rgb(199, 15, 15);
  color: black;
}

.sidebar{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  padding: 0 30px;
  border-left: 3px solid gray;
  justify-content: center;
  background-color: var(--colour2);
}

.sidebar .header{
  font-size: 2rem;
  font-weight: bold;
}

.sidebar-form{
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 30px;
  column-gap: 10px;
  align-items: center;
}

.sidebar-form label{
  justify-self: start;
  font-size: 1.1rem;
}

.sidebar-form input{
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--colour4);
  color: var(--colour2);
  font-size: 1rem;
  font-weight: 700;
}

.sidebar-form input:focus{
  outline: none;
}

.sidebar-form input[type="checkbox"]{
  height: 2rem;
  width: 2rem;
  accent-color: var(--colour4);
  justify-self: center;
}

.sidebar-form input[type="checkbox"]:hover{
  background-color: initial;
  border-color: initial;
}

.sidebar-form button{
  grid-column:1/3;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.1rem;
  background-color: var(--colour3);
  color: white;
}

.sidebar-form button:hover{
  cursor: pointer;
}

.sidebar-form button:active{
  background-color:#5b755d;
}

.error{
  position: absolute;
  font-style: italic;
  bottom: 250px;
}

.hide{
  display: none;
}